.section-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 0px 100px 0px 0px;
  border: 2px solid var(--bege);
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}

.align-services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  gap: 100px;
  margin-top: 60px;
}

.align-top-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  margin-bottom: -50px;
}

@media (max-width: 1024px) {
  .pro-bono-content {
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
}

@media (max-width: 426px) {
  .section-services h3 {
    font-size: 25px !important;
  }

  .section-services h4 {
    font-size: 20px !important;
  }

  .align-all-services {
    flex-direction: column !important;
    align-items: center !important;
  }

  .service {
    width: 95% !important;
  }

  .align-dif-format {
    flex-direction: column !important;
  }

  .column-service {
    width: 100% !important;
  }

  .column-service-image {
    width: 100% !important;
  }
}

.section-services h3 {
  color: var(--bege);
  font-size: 30px;
}

.section-services h4 {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  color: var(--mais-escuro);
}

.align-all-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 100px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border-radius: 8px;
}

.align-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: var(--bege);
  color: var(--branco);
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.123);
  border-radius: 8px;
  transition: height 0.4s ease;
}

.align-service:hover {
  transform: scale(1.05);
  transition: 0.4s ease;
}

.align-preview-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 95%;
  padding: 15px 0px 0px 0px;
  font-family: "Inter", sans-serif;
}

.card-service {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
}

.card-service p {
  color: var(--branco);
  font-family: "Inter", sans-serif;
  width: 70%;
  padding: 10px 0px;
}

.numberIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: radial-gradient(circle, #181822 0%, #272838 35%, #303244 100%);
  color: var(--branco);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.title-alignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image-format-services {
  width: 100%;
  display: block;
  border-radius: 6px 6px 0px 0px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor semitransparente */
  z-index: 1;
  border-radius: 6px 6px 0px 0px;
}

.title-alignment h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--branco);
  z-index: 2; /* Garantir que o título fique acima do overlay */
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.show-more-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  background-color: var(--escuro);
  color: var(--branco);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin: 20px 0px;
}

.show-more-btn:hover {
  background-color: var(--bege);
  color: var(--branco);
  border: 1px solid var(--branco);
  cursor: pointer;
  transition: 0.4s ease;
}

.dif-format-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 111%;
  height: auto;
}

.align-dif-format {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: auto;
  gap: 50px;
  padding: 25px 0px;
}

.gap-div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.column-service {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  gap: 10px;
}

.column-service p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
}

.column-service-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: auto;
}

.column-service-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.123);
}

.align-check {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

/*==== PRO BONO ====*/

.all-in-pro-bono {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("../../assets/images/casa-luxo.webp");
  border-radius: 30px;
  background-size: cover; /* Garante que a imagem preenche o espaço */
  background-position: center; /* Centraliza a imagem */
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.123);
  overflow: hidden;
}

.overlay-bigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  border-radius: 30px;
}

.pro-bono-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 80%;
  position: relative;
  z-index: 2;
  color: var(--branco);
  gap: 30px;
  padding: 50px 0px;
}

.pro-bono-content h3 {
  font-size: 32px;
  align-self: flex-start;
  color: var(--bege-claro);
}

.pro-bono-content p {
  font-size: 17px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: var(--branco);
}

