.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: var(--mais-escuro);
}

.alignNavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

@media (max-width: 426px) {
  .alignNavbar {
    flex-direction: column;
    gap: 10px;
  }

  .alignNavbar h3 {
    font-size: 17px !important;
  }

  .links {
    width: 100% !important;
  }

  .links a {
    font-size: 16px !important;
  }
}

.alignNavbar h3 {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  color: var(--mais-escuro);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.links a {
  font-size: 20px;
  font-weight: bold;
  color: var(--escuro);
  padding: 10px 0px;
  position: relative;
}

.links a:hover {
  cursor: pointer;
  color: var(--bege);
  transition: ease 0.4s;
}

.links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.6px;
  left: 50%;
  position: absolute;
  background: var(--bege);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.links a:hover:after {
  width: 100%;
  left: 0;
}
