.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--mais-escuro);
  color: var(--branco);
  font-size: 10px;
  font-family: "Inter", sans-serif;
  padding: 2px 0px;
  gap: 10px;
}

.align-footer-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 70%;
  height: auto;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media (max-width: 426px) {
  .align-footer-column {
    width: 90% !important;
  }

  .h1-footer {
    font-size: 20px !important;
    text-align: center;
  }

  .footer-column h3 {
    font-size: 18px !important;
  }
}

.footer-column h3 {
  font-size: 20px;
  color: var(--bege);
  font-weight: normal;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

li {
  list-style: none;
}

li a {
  color: var(--escuro);
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

li a:hover {
  color: var(--bege);
}

.h1-footer {
  font-size: 28px;
  color: var(--escuro);
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 175px;
  background: var(--branco);
  overflow: hidden;
  gap: 25px;
  box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.123);
}
