.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--roxo-escuro);
  color: var(--branco);
  font-size: 12px;
  padding: 4px 0px;
  gap: 10px;
}

.align-footer-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 70%;
  height: auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@media (max-width: 426px) {
  .align-footer-column{
    width: 90% !important;
  }

  .h1-footer{
    font-size: 20px !important;
    text-align: center;
  }

  .footer-column h3 {
    font-size: 18px !important;
  }
}

.footer-column h3 {
    font-size: 20px;
    color: var(--branco);
    font-weight: normal;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

li {
    list-style: none;
}

li a {
    color: var(--branco);
}

li a:hover {
    color: var(--cinza-claro);
}

.h1-footer {
    font-size: 28px;
    color: var(--branco);
    text-shadow: 0px 0px 3.5px var(--rosa);
  }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 175px;
  background: var(--roxo-forte);
  overflow: hidden;
  gap: 25px;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 42;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 33%;
  left: 94%;
  animation-duration: 24s;
  animation-delay: -47s;
  transform-origin: 3vw -3vh;
  box-shadow: 2vmin 0 0.5805401452429344vmin currentColor;
}
.background span:nth-child(1) {
  color: #e45a84;
  top: 71%;
  left: 16%;
  animation-duration: 36s;
  animation-delay: -17s;
  transform-origin: 9vw 5vh;
  box-shadow: 2vmin 0 0.7020421330072315vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 25%;
  left: 12%;
  animation-duration: 71s;
  animation-delay: -36s;
  transform-origin: 7vw -21vh;
  box-shadow: -2vmin 0 0.9678918154106471vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 99%;
  left: 11%;
  animation-duration: 62s;
  animation-delay: -63s;
  transform-origin: 12vw 10vh;
  box-shadow: -2vmin 0 1.0253820187223508vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 23%;
  left: 23%;
  animation-duration: 14s;
  animation-delay: -22s;
  transform-origin: 12vw -17vh;
  box-shadow: -2vmin 0 1.0974831940940402vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 20%;
  left: 87%;
  animation-duration: 47s;
  animation-delay: -43s;
  transform-origin: -19vw -17vh;
  box-shadow: -2vmin 0 0.613643578458509vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffacac;
  top: 89%;
  left: 68%;
  animation-duration: 82s;
  animation-delay: -22s;
  transform-origin: -15vw 8vh;
  box-shadow: 2vmin 0 0.37939568336254825vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffacac;
  top: 76%;
  left: 28%;
  animation-duration: 19s;
  animation-delay: -72s;
  transform-origin: 15vw 8vh;
  box-shadow: -2vmin 0 0.6297683774794214vmin currentColor;
}
.background span:nth-child(8) {
  color: #e45a84;
  top: 12%;
  left: 82%;
  animation-duration: 20s;
  animation-delay: -48s;
  transform-origin: 7vw 1vh;
  box-shadow: 2vmin 0 0.8026815271011116vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 27%;
  left: 28%;
  animation-duration: 14s;
  animation-delay: -66s;
  transform-origin: -24vw 18vh;
  box-shadow: -2vmin 0 0.6086656487252677vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 30%;
  left: 87%;
  animation-duration: 72s;
  animation-delay: -24s;
  transform-origin: 9vw -4vh;
  box-shadow: -2vmin 0 1.036707168742961vmin currentColor;
}
.background span:nth-child(11) {
  color: #e45a84;
  top: 10%;
  left: 100%;
  animation-duration: 63s;
  animation-delay: -41s;
  transform-origin: -6vw 17vh;
  box-shadow: 2vmin 0 0.8218833342309999vmin currentColor;
}
.background span:nth-child(12) {
  color: #583c87;
  top: 55%;
  left: 16%;
  animation-duration: 53s;
  animation-delay: -69s;
  transform-origin: -14vw 4vh;
  box-shadow: 2vmin 0 0.41492480666554266vmin currentColor;
}
.background span:nth-child(13) {
  color: #583c87;
  top: 64%;
  left: 40%;
  animation-duration: 80s;
  animation-delay: -45s;
  transform-origin: -19vw 18vh;
  box-shadow: 2vmin 0 0.5223348742710181vmin currentColor;
}
.background span:nth-child(14) {
  color: #e45a84;
  top: 58%;
  left: 3%;
  animation-duration: 53s;
  animation-delay: -66s;
  transform-origin: 5vw 10vh;
  box-shadow: 2vmin 0 0.4719190744108026vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffacac;
  top: 92%;
  left: 47%;
  animation-duration: 50s;
  animation-delay: -11s;
  transform-origin: -17vw -13vh;
  box-shadow: 2vmin 0 0.9995729543171235vmin currentColor;
}
.background span:nth-child(16) {
  color: #e45a84;
  top: 74%;
  left: 75%;
  animation-duration: 58s;
  animation-delay: -22s;
  transform-origin: 13vw -2vh;
  box-shadow: -2vmin 0 0.3230852930175878vmin currentColor;
}
.background span:nth-child(17) {
  color: #583c87;
  top: 56%;
  left: 81%;
  animation-duration: 12s;
  animation-delay: -73s;
  transform-origin: 5vw 5vh;
  box-shadow: 2vmin 0 0.8391490705235294vmin currentColor;
}
.background span:nth-child(18) {
  color: #583c87;
  top: 5%;
  left: 18%;
  animation-duration: 36s;
  animation-delay: -19s;
  transform-origin: 12vw -20vh;
  box-shadow: 2vmin 0 0.3754577096908487vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffacac;
  top: 13%;
  left: 4%;
  animation-duration: 38s;
  animation-delay: -64s;
  transform-origin: -13vw -2vh;
  box-shadow: 2vmin 0 1.1645645648478824vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 6%;
  left: 58%;
  animation-duration: 83s;
  animation-delay: -39s;
  transform-origin: 15vw 20vh;
  box-shadow: 2vmin 0 1.1512914669104175vmin currentColor;
}
.background span:nth-child(21) {
  color: #583c87;
  top: 88%;
  left: 35%;
  animation-duration: 85s;
  animation-delay: -19s;
  transform-origin: -18vw -21vh;
  box-shadow: -2vmin 0 1.2421699705666012vmin currentColor;
}
.background span:nth-child(22) {
  color: #e45a84;
  top: 66%;
  left: 41%;
  animation-duration: 50s;
  animation-delay: -31s;
  transform-origin: 21vw 24vh;
  box-shadow: -2vmin 0 1.1909323847783244vmin currentColor;
}
.background span:nth-child(23) {
  color: #e45a84;
  top: 30%;
  left: 58%;
  animation-duration: 6s;
  animation-delay: -57s;
  transform-origin: 8vw 2vh;
  box-shadow: -2vmin 0 1.1709716044178806vmin currentColor;
}
.background span:nth-child(24) {
  color: #ffacac;
  top: 33%;
  left: 31%;
  animation-duration: 73s;
  animation-delay: -50s;
  transform-origin: 19vw 19vh;
  box-shadow: 2vmin 0 0.7486009387600614vmin currentColor;
}
