* {
  margin: 0;
  padding: 0;
}

/*==== PALETA DE CORES ====*/
:root {
  --escuro: #272838;
  --prata: #C0B7B1;
  --verde: #3F6C51;
  --bege: #C69C72;
  --bege-claro: #dfaf80;
  --bege-escuro: #a37e58;
  --mais-escuro: #181822;
  --cinza: #cac4ceff;
  --cinza-claro: rgba(226, 216, 206, 0.623);
  --branco: #f7ece1ff;
}

body {
  background-color: var(--cinza-claro);
  color: var(--mais-escuro);
  font-family: "Forum", sans-serif;
  letter-spacing: 0.3px;
}

.small-icon {
  width: 22px;
  height: 22px;
}

.medium-icon {
  width: 35px;
  height: 30px;
}

.divisor {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--bege);
}

.divisor-white {
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--branco);
}

.divisor-smaller {
  display: block;
  height: 1px;
  width: 90%;
  background-color: var(--bege);
}